Repository TheDonCipher/Web3QuestHub, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, extension, documentation, dependencies, firebase, ui/ux, configuration

chore: add package-lock.json for dotenv dependency
  package-lock.json
Labels: frontend, dependencies

docs: add security fix documentation
  SECURITY_FIX.md
Labels: frontend, documentation

feat: initialize Firebase configuration with security best practices
  firebase-functions/.env.example
  web3-quest-hub-app/.env.local.example
  web3-quest-hub-app/lib/firebase/auth-setup.ts
  web3-quest-hub-app/lib/firebase/config.ts
Labels: frontend, backend, firebase

docs: add Firebase quickstart guide
  FIREBASE_QUICKSTART.md
Labels: frontend, documentation

feat: prepare Firebase deployment with data import and updated security rules
  .gitignore
  DEPLOYMENT_GUIDE.md
  firestore.rules
  firestore_sample_data.json
  scripts/package.json
  scripts/populate-firestore.js
Labels: frontend, backend, documentation, dependencies, firebase

docs: add quick deployment guide
  DEPLOY_NOW.md
Labels: frontend, documentation

fix: improve Firestore data import script
  scripts/populate-firestore.js
Labels: frontend

feat: implement clean modern UI with dark/light theme support
  web3-quest-hub-app/app/globals.css
  web3-quest-hub-app/app/layout.tsx
  web3-quest-hub-app/app/page.tsx
Labels: frontend, ui/ux

feat: add Marketplace UI and navigation system
  web3-quest-hub-app/app/community/page.tsx
  web3-quest-hub-app/app/layout.tsx
  web3-quest-hub-app/app/learn/page.tsx
  web3-quest-hub-app/app/marketplace/page.tsx
  web3-quest-hub-app/app/page.tsx
  web3-quest-hub-app/app/quests/page.tsx
  web3-quest-hub-app/components/layout/Navbar.tsx
  web3-quest-hub-app/components/marketplace/MarketplaceItemCard.tsx
  web3-quest-hub-app/next.config.js
  web3-quest-hub-app/tsconfig.json
Labels: frontend, ui/ux

feat: implement Community page with discussion features
  web3-quest-hub-app/app/community/page.tsx
Labels: frontend, ui/ux

feat: add landing page with wallet connection and logout functionality
  web3-quest-hub-app/app/dashboard/page.tsx
  web3-quest-hub-app/app/page.tsx
  web3-quest-hub-app/app/profile/page.tsx
  web3-quest-hub-app/components/layout/Navbar.tsx
  web3-quest-hub-app/components/providers/WagmiProvider.tsx
  web3-quest-hub-app/lib/wagmi/config.ts
Labels: frontend, ui/ux

.github/labeler.yml:

# Auto-labeling configuration for PRs

'frontend':
  - 'web3-quest-hub-app/**/*'
  - '!web3-quest-hub-app/lib/firebase/**/*'

'backend':
  - 'firebase-functions/**/*'
  - 'firestore.rules'
  - 'firestore.indexes.json'

'extension':
  - 'web3-hud-plugin/**/*'

'documentation':
  - '*.md'
  - 'docs/**/*'

'dependencies':
  - '**/package.json'
  - '**/package-lock.json'

'firebase':
  - 'firebase.json'
  - 'firestore.rules'
  - 'firestore.indexes.json'
  - 'firebase-functions/**/*'

'ui/ux':
  - 'web3-quest-hub-app/components/**/*'
  - 'web3-quest-hub-app/app/**/*.tsx'
  - '**/*.css'

'configuration':
  - '*.config.js'
  - '*.config.ts'
  - '.github/**/*'
  - 'tsconfig.json'
